<p id="notice"><%= notice %></p>

<p>
  <strong>No of application:</strong>
  <%= @noapplication.no_of_application %>
</p>

<p>
  <strong>Path:</strong>
  <%= @noapplication.path %>
</p>

<%= link_to 'Edit', edit_noapplication_path(@noapplication) %> |
<%= link_to 'Back', noapplications_path %>
